/* 自定义 ion-icon 样式 */
h2.section-title {
  font-size: 22px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
}

h2.section-title ion-icon {
  font-size: 30px;
  color: #007acc;  /* 可换成你想要的颜色，例如 #ff4c4c、crimson 等 */
}
